{
  "extends": "@wagtail/eslint-config-wagtail",
  "env": {
    "node": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 9
  },
  "rules": {},
  "settings": {
    // Manually set the version to disable automated detection of the "react" dependency.
    "react": { "version": "detect" }
  }
}
