/* valid scss */
.helpful-button {
    color: #4233dd;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
}

/* valid comment containing helpful context */

@mixin optionalItem($size: 1rem) {
    @if size == 1rem {
        font-size: 1rem;
    } @else {
        font-size: $size;
        line-height: $size * 1.5;
    }
}

.logo {
    display: block;
    color: #aaa;
    padding: 0.9em 1.2em;
    -webkit-font-smoothing: auto;
}

.wagtail-logo-container__mobile {
    .wagtail-logo {
        width: 20px;
        float: left;
        border: 0;
        margin-right: 1em;
    }

    &:hover {
        color: $color-white;
    }
}
