$color--blue: #4233dd;
$font--mono: 'Courier New', Courier, monospace;
$spacing--1: 1rem;
$font--m: 1rem;

/* valid scss */
.helpful-button {
    color: $color--blue;
    font-family: $font--mono;
    font-size: $font--m;
}

/* valid comment containing helpful context */

@mixin optionalItem($size: 1rem) {
    @if size == 1rem {
        font-size: $size;
    } @else {
        font-size: $size;
        line-height: $size * 1.5;
    }
}

.logo {
    @include optionalItem();
    display: block;
    /* stylelint-disable-next-line scale-unlimited/declaration-strict-value */
    color: #aaa;
    padding: $spacing--1;
    -webkit-font-smoothing: auto;
}

.wagtail-logo-container__mobile {
    .wagtail-logo {
        width: 20px;
        float: inline-start;
        border: 0;
        margin-inline-end: $spacing--1;
    }

    &:hover {
        color: $color-white;
    }
}
